click==8.0.4
fire==0.4.0
Flask==1.1.1
flask-mongoengine==0.9.5
Flask-WTF==1.0.0
gunicorn==20.0.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.0
mongoengine==0.24.0
names==0.3.0
numpy==1.22.2
path==16.4.0
pymongo==4.0
randomname==0.1.5
six==1.16.0
termcolor==1.1.0
Werkzeug==2.0.3
WTForms==3.0.1
